<li style="left: <%= rand(1024) %>px; top: <%= rand(60) %>px;">
  <div class="commit" data-toggle="popover"
    data-original-title="<%= commit.author.email %>"
    data-content="<div class='muted'><%= commit.sha[0..16] %></div><div class='full-cm'><%= commit.message %></div>">
    <%= gravatar(commit.author, 128) %>
    <div class="commit-message"><%= commit.message.truncate(40) %></div>
    <%- if commit_counter == 0 -%>
      <div class="head-message">master HEAD</div>
    <%- end -%>
  </div>
</li>
