<li class="story_card">
  <h1>
    <small>
      <% story.each_pair do |project,story_details| %>
        <% story_details.each_pair do |story_number, commits| %>
          <a href=<%= fqdn %>/projects/<%= project %>/cards/<%= story_number %>>
            <%= project %> <%= story_number %> =>  <%= commits.count %>
          </a>
        <% end %>
      <% end %>
      </small>
  </h1>
</li>