<li class="story_card">
  <h1>
    <small>
      <% story.each_pair do |k,v| %>
        <a href=<%= fqdn %>/projects/<%= k %>/cards/<%= v %>>
          <%= k %> <%= v %>
        </a>
      <% end %>
      </small>
  </h1>
</li>